:root {
  --purple: #3e0249;
}

body {
  margin: 0;
  padding: 0;
  color: var(--purple);
  font-family: "Courier New", !important;
  background-color: purple;

}

#playText {
  font-family: "Courier New",!important;
}
