:root {
  --purple: #3e0249;
}

body {
  margin: 0;
  padding: 0;
  color: var(--purple);
  font-family: Courier New, sans-serif!important;
  background-color: purple;

}

h1.playText {
  font: Courier New, sans-serif!important;
}
